# Datascience Week 1, exercise 1

### Exercice 1.1: read the data

In [97]:
import pandas as pd

data = pd.read_csv('train.csv')
print(data[0:5])

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

### Exercise 1.2: crop useless columns

I judged that `Name` and `Ticket` would be useless columns. `SibSp` is a bit iffy, but I decided to leave it in the data.

In [98]:
croppedData = data.drop(['Name', 'Ticket'], axis=1)
print(croppedData[0:5])

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin  \
0            1         0       3    male  22.0      1      0   7.2500   NaN
1            2         1       1  female  38.0      1      0  71.2833   C85
2            3         1       3  female  26.0      0      0   7.9250   NaN
3            4         1       1  female  35.0      1      0  53.1000  C123
4            5         0       3    male  35.0      0      0   8.0500   NaN

  Embarked
0        S
1        C
2        S
3        S
4        S

### Exercise 1.3: Make a new column with deck letters
Some passangers have multiple cabins. With the exception of those marked with 'F', these are always on the same deck, so I stuck with picking the first letter. I couldn't find out what that 'F' mark would mean.

First, check the multi cabin data:

In [99]:

multiCabin = croppedData['Cabin'].map(lambda cabin: len(str(cabin)) > 4)
croppedData[multiCabin]['Cabin']

27         C23 C25 C27
75               F G73
88         C23 C25 C27
97             D10 D12
118            B58 B60
128              F E69
297            C22 C26
299            B58 B60
305            C22 C26
311    B57 B59 B63 B66
341        C23 C25 C27
390            B96 B98
435            B96 B98
438        C23 C25 C27
498            C22 C26
679        B51 B53 B55
699              F G63
700            C62 C64
715              F G73
742    B57 B59 B63 B66
763            B96 B98
789            B82 B84
802            B96 B98
872        B51 B53 B55
Name: Cabin, dtype: object

Then, insert the cabin letters column:

In [100]:
def getFirstLetterOrNaN(val):
    if(isinstance(val, str)):
        return val[0]
    return float('nan')

letterSeries = croppedData['Cabin'].map(getFirstLetterOrNaN)
cabinLetteredData = croppedData.assign(CabinLetters = letterSeries)
print(cabinLetteredData)

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch      Fare  \
0              1         0       3    male  22.0      1      0    7.2500
1              2         1       1  female  38.0      1      0   71.2833
2              3         1       3  female  26.0      0      0    7.9250
3              4         1       1  female  35.0      1      0   53.1000
4              5         0       3    male  35.0      0      0    8.0500
5              6         0       3    male   NaN      0      0    8.4583
6              7         0       1    male  54.0      0      0   51.8625
7              8         0       3    male   2.0      3      1   21.0750
8              9         1       3  female  27.0      0      2   11.1333
9             10         1       2  female  14.0      1      0   30.0708
10            11         1       3  female   4.0      1      1   16.7000
11            12         1       1  female  58.0      0      0   26.5500
12            13         0       3    male  20.0      0      0    8.0500
13            14         0       3    male  39.0      1      5   31.2750
14            15         0       3  female  14.0      0      0    7.8542
15            16         1       2  female  55.0      0      0   16.0000
16            17         0       3    male   2.0      4      1   29.1250
17            18         1       2    male   NaN      0      0   13.0000
18            19         0       3  female  31.0      1      0   18.0000
19            20         1       3  female   NaN      0      0    7.2250
20            21         0       2    male  35.0      0      0   26.0000
21            22         1       2    male  34.0      0      0   13.0000
22            23         1       3  female  15.0      0      0    8.0292
23            24         1       1    male  28.0      0      0   35.5000
24            25         0       3  female   8.0      3      1   21.0750
25            26         1       3  female  38.0      1      5   31.3875
26            27         0       3    male   NaN      0      0    7.2250
27            28         0       1    male  19.0      3      2  263.0000
28            29         1       3  female   NaN      0      0    7.8792
29            30         0       3    male   NaN      0      0    7.8958
..           ...       ...     ...     ...   ...    ...    ...       ...
861          862         0       2    male  21.0      1      0   11.5000
862          863         1       1  female  48.0      0      0   25.9292
863          864         0       3  female   NaN      8      2   69.5500
864          865         0       2    male  24.0      0      0   13.0000
865          866         1       2  female  42.0      0      0   13.0000
866          867         1       2  female  27.0      1      0   13.8583
867          868         0       1    male  31.0      0      0   50.4958
868          869         0       3    male   NaN      0      0    9.5000
869          870         1       3    male   4.0      1      1   11.1333
870          871         0       3    male  26.0      0      0    7.8958
871          872         1       1  female  47.0      1      1   52.5542
872          873         0       1    male  33.0      0      0    5.0000
873          874         0       3    male  47.0      0      0    9.0000
874          875         1       2  female  28.0      1      0   24.0000
875          876         1       3  female  15.0      0      0    7.2250
876          877         0       3    male  20.0      0      0    9.8458
877          878         0       3    male  19.0      0      0    7.8958
878          879         0       3    male   NaN      0      0    7.8958
879          880         1       1  female  56.0      0      1   83.1583
880          881         1       2  female  25.0      0      1   26.0000
881          882         0       3    male  33.0      0      0    7.8958
882          883         0       3  female  22.0      0      0   10.5167
883          884         0       2    male  28.0      0      0   10.5000
884          885         0       3    male  25.0      0      0    7.0500
885          886         0       3  female  39.0      0      5   29.1250
886          887         0       2    male  27.0      0      0   13.0000
887          888         1       1  female  19.0      0      0   30.0000
888          889         0       3  female   NaN      1      2   23.4500
889          890         1       1    male  26.0      0      0   30.0000
890          891         0       3    male  32.0      0      0    7.7500

           Cabin Embarked CabinLetters
0            NaN        S          NaN
1            C85        C            C
2            NaN        S          NaN
3           C123        S            C
4            NaN        S          NaN
5            NaN        Q          NaN
6            E46        S            E
7            NaN        S          NaN
8            NaN        S          NaN
9            NaN        C          NaN
10            G6        S            G
11          C103        S            C
12           NaN        S          NaN
13           NaN        S          NaN
14           NaN        S          NaN
15           NaN        S          NaN
16           NaN        Q          NaN
17           NaN        S          NaN
18           NaN        S          NaN
19           NaN        C          NaN
20           NaN        S          NaN
21           D56        S            D
22           NaN        Q          NaN
23            A6        S            A
24           NaN        S          NaN
25           NaN        S          NaN
26           NaN        C          NaN
27   C23 C25 C27        S            C
28           NaN        Q          NaN
29           NaN        S          NaN
..           ...      ...          ...
861          NaN        S          NaN
862          D17        S            D
863          NaN        S          NaN
864          NaN        S          NaN
865          NaN        S          NaN
866          NaN        C          NaN
867          A24        S            A
868          NaN        S          NaN
869          NaN        S          NaN
870          NaN        S          NaN
871          D35        S            D
872  B51 B53 B55        S            B
873          NaN        S          NaN
874          NaN        C          NaN
875          NaN        C          NaN
876          NaN        S          NaN
877          NaN        S          NaN
878          NaN        S          NaN
879          C50        C            C
880          NaN        S          NaN
881          NaN        S          NaN
882          NaN        S          NaN
883          NaN        S          NaN
884          NaN        S          NaN
885          NaN        Q          NaN
886          NaN        S          NaN
887          B42        S            B
888          NaN        S          NaN
889         C148        C            C
890          NaN        Q          NaN

[891 rows x 11 columns]

In [125]:
def assignNumbersForCabinLetters(letter:str) -> int:
    if letter == 'A':
        return 1
    elif letter == 'B':
        return 2
    elif letter == 'C':
        return 3
    elif letter == 'D':
        return 4
    elif letter == 'E':
        return 5
    elif letter == 'F':
        return 6
    elif letter == 'G':
        return 7
    elif letter == 'T':
        return 8
    else:
        return None
    
def assignNumbersForSex(sex: str) -> int:
    if sex == "female":
        return 1
    else:
        return 0
    
def assignNumbersForPort(port: str) -> int:
    if port == 'S':
        return 1
    elif port == 'C':
        return 2
    else:
        return 3

cabinLettersAsNumbers = cabinLetteredData['CabinLetters'].map(assignNumbersForCabinLetters)
cabinNumberedData  = cabinLetteredData.assign(CabinLetters = cabinLettersAsNumbers)
sexAsNumbers = cabinNumberedData['Sex'].map(assignNumbersForSex)
cabinSexNumberedData = cabinNumberedData.assign(Sex = sexAsNumbers)
portAsNumbers = cabinSexNumberedData['Embarked'].map(assignNumbersForPort)
numberedData = cabinSexNumberedData.assign(Embarked = portAsNumbers)
print(numberedData)

     PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch      Fare  \
0              1         0       3    0  22.0      1      0    7.2500
1              2         1       1    1  38.0      1      0   71.2833
2              3         1       3    1  26.0      0      0    7.9250
3              4         1       1    1  35.0      1      0   53.1000
4              5         0       3    0  35.0      0      0    8.0500
5              6         0       3    0   NaN      0      0    8.4583
6              7         0       1    0  54.0      0      0   51.8625
7              8         0       3    0   2.0      3      1   21.0750
8              9         1       3    1  27.0      0      2   11.1333
9             10         1       2    1  14.0      1      0   30.0708
10            11         1       3    1   4.0      1      1   16.7000
11            12         1       1    1  58.0      0      0   26.5500
12            13         0       3    0  20.0      0      0    8.0500
13            14         0       3    0  39.0      1      5   31.2750
14            15         0       3    1  14.0      0      0    7.8542
15            16         1       2    1  55.0      0      0   16.0000
16            17         0       3    0   2.0      4      1   29.1250
17            18         1       2    0   NaN      0      0   13.0000
18            19         0       3    1  31.0      1      0   18.0000
19            20         1       3    1   NaN      0      0    7.2250
20            21         0       2    0  35.0      0      0   26.0000
21            22         1       2    0  34.0      0      0   13.0000
22            23         1       3    1  15.0      0      0    8.0292
23            24         1       1    0  28.0      0      0   35.5000
24            25         0       3    1   8.0      3      1   21.0750
25            26         1       3    1  38.0      1      5   31.3875
26            27         0       3    0   NaN      0      0    7.2250
27            28         0       1    0  19.0      3      2  263.0000
28            29         1       3    1   NaN      0      0    7.8792
29            30         0       3    0   NaN      0      0    7.8958
..           ...       ...     ...  ...   ...    ...    ...       ...
861          862         0       2    0  21.0      1      0   11.5000
862          863         1       1    1  48.0      0      0   25.9292
863          864         0       3    1   NaN      8      2   69.5500
864          865         0       2    0  24.0      0      0   13.0000
865          866         1       2    1  42.0      0      0   13.0000
866          867         1       2    1  27.0      1      0   13.8583
867          868         0       1    0  31.0      0      0   50.4958
868          869         0       3    0   NaN      0      0    9.5000
869          870         1       3    0   4.0      1      1   11.1333
870          871         0       3    0  26.0      0      0    7.8958
871          872         1       1    1  47.0      1      1   52.5542
872          873         0       1    0  33.0      0      0    5.0000
873          874         0       3    0  47.0      0      0    9.0000
874          875         1       2    1  28.0      1      0   24.0000
875          876         1       3    1  15.0      0      0    7.2250
876          877         0       3    0  20.0      0      0    9.8458
877          878         0       3    0  19.0      0      0    7.8958
878          879         0       3    0   NaN      0      0    7.8958
879          880         1       1    1  56.0      0      1   83.1583
880          881         1       2    1  25.0      0      1   26.0000
881          882         0       3    0  33.0      0      0    7.8958
882          883         0       3    1  22.0      0      0   10.5167
883          884         0       2    0  28.0      0      0   10.5000
884          885         0       3    0  25.0      0      0    7.0500
885          886         0       3    1  39.0      0      5   29.1250
886          887         0       2    0  27.0      0      0   13.0000
887          888         1       1    1  19.0      0      0   30.0000
888          889         0       3    1   NaN      1      2   23.4500
889          890         1       1    0  26.0      0      0   30.0000
890          891         0       3    0  32.0      0      0    7.7500

           Cabin  Embarked  CabinLetters
0            NaN         1           NaN
1            C85         2           3.0
2            NaN         1           NaN
3           C123         1           3.0
4            NaN         1           NaN
5            NaN         3           NaN
6            E46         1           5.0
7            NaN         1           NaN
8            NaN         1           NaN
9            NaN         2           NaN
10            G6         1           7.0
11          C103         1           3.0
12           NaN         1           NaN
13           NaN         1           NaN
14           NaN         1           NaN
15           NaN         1           NaN
16           NaN         3           NaN
17           NaN         1           NaN
18           NaN         1           NaN
19           NaN         2           NaN
20           NaN         1           NaN
21           D56         1           4.0
22           NaN         3           NaN
23            A6         1           1.0
24           NaN         1           NaN
25           NaN         1           NaN
26           NaN         2           NaN
27   C23 C25 C27         1           3.0
28           NaN         3           NaN
29           NaN         1           NaN
..           ...       ...           ...
861          NaN         1           NaN
862          D17         1           4.0
863          NaN         1           NaN
864          NaN         1           NaN
865          NaN         1           NaN
866          NaN         2           NaN
867          A24         1           1.0
868          NaN         1           NaN
869          NaN         1           NaN
870          NaN         1           NaN
871          D35         1           4.0
872  B51 B53 B55         1           2.0
873          NaN         1           NaN
874          NaN         2           NaN
875          NaN         2           NaN
876          NaN         1           NaN
877          NaN         1           NaN
878          NaN         1           NaN
879          C50         2           3.0
880          NaN         1           NaN
881          NaN         1           NaN
882          NaN         1           NaN
883          NaN         1           NaN
884          NaN         1           NaN
885          NaN         3           NaN
886          NaN         1           NaN
887          B42         1           2.0
888          NaN         1           NaN
889         C148         2           3.0
890          NaN         3           NaN

[891 rows x 11 columns]

### Exercise 1.4: imputate the data

In [126]:
def pAssign(df, colName, colVal):
    kwargs = {colName: colVal}
    return df.assign(**kwargs)

def fillNaWithAvg(df, columnName):
    newColumn = df[columnName].fillna(df[columnName].mean())
    return pAssign(df, columnName, newColumn)

def fillNaWithMode(df, columnName):
    newColumn = df[columnName].fillna(df[columnName].mode().iloc[0])
    return pAssign(df, columnName, newColumn)

imputatedData = fillNaWithMode(
    fillNaWithMode(
        fillNaWithAvg(
            fillNaWithMode(
                numberedData,
                'Embarked'
            ),
            'Age'
        ),
        'CabinLetters'
    ),
    'Cabin'
)

Let's check for null values....

In [127]:
imputatedData.isnull().any()

PassengerId     False
Survived        False
Pclass          False
Sex             False
Age             False
SibSp           False
Parch           False
Fare            False
Cabin           False
Embarked        False
CabinLetters    False
dtype: bool

And print the data again:

In [128]:
print(imputatedData)

     PassengerId  Survived  Pclass  Sex        Age  SibSp  Parch      Fare  \
0              1         0       3    0  22.000000      1      0    7.2500
1              2         1       1    1  38.000000      1      0   71.2833
2              3         1       3    1  26.000000      0      0    7.9250
3              4         1       1    1  35.000000      1      0   53.1000
4              5         0       3    0  35.000000      0      0    8.0500
5              6         0       3    0  29.699118      0      0    8.4583
6              7         0       1    0  54.000000      0      0   51.8625
7              8         0       3    0   2.000000      3      1   21.0750
8              9         1       3    1  27.000000      0      2   11.1333
9             10         1       2    1  14.000000      1      0   30.0708
10            11         1       3    1   4.000000      1      1   16.7000
11            12         1       1    1  58.000000      0      0   26.5500
12            13         0       3    0  20.000000      0      0    8.0500
13            14         0       3    0  39.000000      1      5   31.2750
14            15         0       3    1  14.000000      0      0    7.8542
15            16         1       2    1  55.000000      0      0   16.0000
16            17         0       3    0   2.000000      4      1   29.1250
17            18         1       2    0  29.699118      0      0   13.0000
18            19         0       3    1  31.000000      1      0   18.0000
19            20         1       3    1  29.699118      0      0    7.2250
20            21         0       2    0  35.000000      0      0   26.0000
21            22         1       2    0  34.000000      0      0   13.0000
22            23         1       3    1  15.000000      0      0    8.0292
23            24         1       1    0  28.000000      0      0   35.5000
24            25         0       3    1   8.000000      3      1   21.0750
25            26         1       3    1  38.000000      1      5   31.3875
26            27         0       3    0  29.699118      0      0    7.2250
27            28         0       1    0  19.000000      3      2  263.0000
28            29         1       3    1  29.699118      0      0    7.8792
29            30         0       3    0  29.699118      0      0    7.8958
..           ...       ...     ...  ...        ...    ...    ...       ...
861          862         0       2    0  21.000000      1      0   11.5000
862          863         1       1    1  48.000000      0      0   25.9292
863          864         0       3    1  29.699118      8      2   69.5500
864          865         0       2    0  24.000000      0      0   13.0000
865          866         1       2    1  42.000000      0      0   13.0000
866          867         1       2    1  27.000000      1      0   13.8583
867          868         0       1    0  31.000000      0      0   50.4958
868          869         0       3    0  29.699118      0      0    9.5000
869          870         1       3    0   4.000000      1      1   11.1333
870          871         0       3    0  26.000000      0      0    7.8958
871          872         1       1    1  47.000000      1      1   52.5542
872          873         0       1    0  33.000000      0      0    5.0000
873          874         0       3    0  47.000000      0      0    9.0000
874          875         1       2    1  28.000000      1      0   24.0000
875          876         1       3    1  15.000000      0      0    7.2250
876          877         0       3    0  20.000000      0      0    9.8458
877          878         0       3    0  19.000000      0      0    7.8958
878          879         0       3    0  29.699118      0      0    7.8958
879          880         1       1    1  56.000000      0      1   83.1583
880          881         1       2    1  25.000000      0      1   26.0000
881          882         0       3    0  33.000000      0      0    7.8958
882          883         0       3    1  22.000000      0      0   10.5167
883          884         0       2    0  28.000000      0      0   10.5000
884          885         0       3    0  25.000000      0      0    7.0500
885          886         0       3    1  39.000000      0      5   29.1250
886          887         0       2    0  27.000000      0      0   13.0000
887          888         1       1    1  19.000000      0      0   30.0000
888          889         0       3    1  29.699118      1      2   23.4500
889          890         1       1    0  26.000000      0      0   30.0000
890          891         0       3    0  32.000000      0      0    7.7500

           Cabin  Embarked  CabinLetters
0        B96 B98         1           3.0
1            C85         2           3.0
2        B96 B98         1           3.0
3           C123         1           3.0
4        B96 B98         1           3.0
5        B96 B98         3           3.0
6            E46         1           5.0
7        B96 B98         1           3.0
8        B96 B98         1           3.0
9        B96 B98         2           3.0
10            G6         1           7.0
11          C103         1           3.0
12       B96 B98         1           3.0
13       B96 B98         1           3.0
14       B96 B98         1           3.0
15       B96 B98         1           3.0
16       B96 B98         3           3.0
17       B96 B98         1           3.0
18       B96 B98         1           3.0
19       B96 B98         2           3.0
20       B96 B98         1           3.0
21           D56         1           4.0
22       B96 B98         3           3.0
23            A6         1           1.0
24       B96 B98         1           3.0
25       B96 B98         1           3.0
26       B96 B98         2           3.0
27   C23 C25 C27         1           3.0
28       B96 B98         3           3.0
29       B96 B98         1           3.0
..           ...       ...           ...
861      B96 B98         1           3.0
862          D17         1           4.0
863      B96 B98         1           3.0
864      B96 B98         1           3.0
865      B96 B98         1           3.0
866      B96 B98         2           3.0
867          A24         1           1.0
868      B96 B98         1           3.0
869      B96 B98         1           3.0
870      B96 B98         1           3.0
871          D35         1           4.0
872  B51 B53 B55         1           2.0
873      B96 B98         1           3.0
874      B96 B98         2           3.0
875      B96 B98         2           3.0
876      B96 B98         1           3.0
877      B96 B98         1           3.0
878      B96 B98         1           3.0
879          C50         2           3.0
880      B96 B98         1           3.0
881      B96 B98         1           3.0
882      B96 B98         1           3.0
883      B96 B98         1           3.0
884      B96 B98         1           3.0
885      B96 B98         3           3.0
886      B96 B98         1           3.0
887          B42         1           2.0
888      B96 B98         1           3.0
889         C148         2           3.0
890      B96 B98         3           3.0

[891 rows x 11 columns]

### Exercise 1.6: write data to csv and json

In [133]:
imputatedData.to_csv('ex1_output.csv')

In [134]:
imputatedData.to_json('ex1_output.json', orient="index")